# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Note Recycling .gitignore from generated gitignore from create-react-app

# Ignoring db.json need to add information on how to manually create own to run server
db.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
